ul li {
  list-style-type: none;
  font-weight: 600;
  color: #fff;
  border: 2px;
}
footer {
  background-color: #212529;
  color: black;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #212529;
}
